.header{
    position: absolute;
    background-color: blue;
    width: 82.5%;
    height: 17%;
    margin: 5px;
    left: 17.1%
}

.info_header{
    position: absolute;
    height: 30%;
    width: 10%;
    left: 15%;
    top: 45%;

}

.logoplace{
    position: absolute;
    background-color: white;
    height: 30%;
    width: 10%;
    right: 5%;
    top: 35%;
}

.logo{
    position: absolute;
    top: 30%;
    right: 22%;
}

.leftbar{
    position: absolute;
    background-color: orange;
    height: 83.2%;
    width: 16.5%;
    top: 1.3%;
    left: 0.7%
}

.leftbar_text{
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 30%;
    text-align: center;
}


.centralblock{
    position: absolute;
    height: 66%;
    width: 65.5%;
    bottom: 15%;
    margin: 5px;
    left: 17%;
}

.centralblock_text{
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 30%;
    text-align: start;

}

.nav{
    position: absolute;
    background-color: green;
    height: 17%;
    width: 100%;
    top: 0%;
}

.menu{
    position: absolute;
    bottom: 30%;
    left: 64%;
}

.rightbar{
    position: absolute;
    background-color: orange;
    height: 66%;
    width: 17%;
    top: 18%;
    right: 0%;
    margin: 5px;
}

.rightbar_text{

     padding: 5px;
    position: absolute;
    right: 0%;
    top: 30%;
    text-align: center;

}

.footer{
    position: absolute;
    background-color: blue;
    height: 14.1%;
    width: 99.1%;
    bottom: 1.3%;
    left: 13px;
}

.info_footer{
     position: absolute;
    height: 30%;
    width: 10%;
    right: 0%;
    top: 45%;
}

.logoplace_footer{
    position: absolute;
    background-color: white;
    height: 30%;
    width: 10%;
    left: 5%;
    top: 35%;
}

.logo_footer{
    position: absolute;
    top: 30%;
    right: 24%;
}
